<article class="post">
    <div class="banner" style="display: {SHOW_BANNER};">
        <img src="{BANNER_IMAGE}" />
    </div>
    <div class="category">{CATEGORY}</div>
    <h1>{TITLE}</h1>
    <span class="date">{PUBLISHED_DATE}</span>
    <div id="tags" class="tags">
        {TAGS}
    </div>
    <div class="post-content">
        {CONTENT}
    </div>
    <div id="disqus_thread"></div>
</article>
<script>
    function loadScriptAndStyles(){
        const contentarea = document.querySelector(".post-content");
        (function(){
            const code = contentarea.querySelector("pre>code");
            if(code){
                const script = document.createElement("script");
                script.src = "/js/highlight.min.js";
                script.onload = () => {
                    hljs.highlightAll();
                };
                document.body.appendChild(script);
                const link = document.createElement("link")
                link.setAttribute("rel", "stylesheet");
                link.setAttribute("href", "/css/highlight.css");
                document.head.appendChild(link);
            };

        })();
        (function(){
            if(contentarea.querySelectorAll('.carousel').length > 0){
                const script = document.createElement("script");
                script.src = "/js/glider.min.js";
                script.onload = () => {
                    contentarea.querySelectorAll('.carousel').forEach(carousel => {
                        new Glider(carousel.querySelector(".glider"), {
                            slidesToShow: 1,
                            dots: carousel.querySelector(".dots"),
                            draggable: true,
                            arrows: {
                                prev: carousel.querySelector(".glider-prev"),
                                next: carousel.querySelector(".glider-next")
                            }
                        });
                    });
                };
                document.body.appendChild(script);
                const link = document.createElement("link")
                link.setAttribute("rel", "stylesheet");
                link.setAttribute("href", "/css/glider.min.css");
                document.head.appendChild(link);
            }
        })();
    };
    if(document.readyState === "complete"){
        loadScriptAndStyles();
    }
    else{
        window.addEventListener("DOMContentLoaded", () => {
            loadScriptAndStyles();
        });
    }
</script>